<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Host" value="localhost" />
    <add key="Address" value="192.168.77.18" />
    <add key="Port" value="10001" />
    <add key="BackLog" value="100" />
  </appSettings>
</configuration>