<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="FormulaBuilderServiceBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="65536"
                 maxReceivedMessageSize="65536">
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="FormulaBuilderService.FormulaBuilderFormulaService">
        <endpoint address="net.pipe://localhost/FormulaBuilder"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="FormulaBuilderServiceBinding" 
                  contract="FormulaBuilderService.IFormulaService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>